{% set optional_classes = page.header.optional_classes %}
{% set display_title = page.header.display_title ?? 'true' %}

<section class="module bignumbers {{ optional_classes }}">
	<div class="bignumbers__ctn text" data-reveal>

		{% if display_title %}
		{% if page.header.caption %}
		<div class="bignumbers__caption">{{ page.header.caption }}</div>
		{% endif %}
		<h2 class="bignumbers__title">{{ page.title }}</h2>
		{% endif %}

		<div class="bignumbers__grid">
			{% for item in page.header.items %}
				<div class="bignumbers__item" data-reveal="reveal--grid-item">
					<h3 class="bignumbers__item__number">{{ item.number }}</h3>
					<div class="bignumbers__item__text">{{ item.text|markdown }}</div>
				</div>
			{% endfor %}
		</div>	
	</div>
</section>
