{% extends 'modular/module.html.twig' %}
{% set name = 'cta' %}

{% set display_title = page.header.display_title %}
{% set text = page.header.text %}
{% set button_label = page.header.button_label %}
{% set button_url = page.header.button_url %}
{% set color = page.header.color %}

{% block content %}
<div class="wrapper">
    <div class="layout" {% if color %} style="--color:{{ color }}"{% endif %}>
        <div class="content text prose">
            {% if display_title %}<h2>{{ display_title }}</h2>{% endif %}
            {% if text %}<p>{{ text }}</p>{% endif %}
        </div>
        <div class="action">
            <a href="{{ button_url }}" class="button">{{ button_label }}</a>
        </div>
    </div>
</div>
{% endblock %}
