{% extends 'modular/module.html.twig' %}
{% set name = 'emphasis' %}

{% set display_title = page.header.display_title %}
{% set content = page.content|raw %}

{% set color_bg = page.header.color_bg %}
{% set color_fg = page.header.color_fg %}
{% set color_btn_bg = page.header.color_btn_bg %}
{% set color_btn_fg = page.header.color_btn_fg %}

{% set styles %}
{% if color_bg %}--color-bg:{{ color_bg }};{% endif %}
{% if color_fg %}--color-fg:{{ color_fg }};{% endif %}
{% if color_btn_bg %}--color-btn-bg:{{ color_btn_bg }};{% endif %}
{% if color_btn_fg %}--color-btn-fg:{{ color_btn_fg }};{% endif %}
{% endset %}

{% block content %}

<div class="wrapper text" data-reveal=""{% if styles %} style="{{ styles }}"{% endif %}>
	
	<div class="inner">

		{% if display_title %}
		<h2 class="title">{{ display_title }}</h2>
		{% endif %}

		{% if content %}
		<div class="content">
		{{ content|raw }}
		</div>
		{% endif %}

	</div>

</div>

{% endblock %}