{% set optional_classes = page.header.optional_classes %}
{% set display_title = page.header.display_title ?? 'true' %}

<section class="module enum-card {{ optional_classes }}">
	<div class="enum-card__ctn text" data-reveal>

		{% if display_title %}
		{% if page.header.caption %}
		<div class="enum-card__caption">{{ page.header.caption }}</div>
		{% endif %}
		<h2 class="enum-card__title">{{ page.title }}</h2>
		{% endif %}

		<div class="enum-card__grid">
			{% for item in page.header.items %}
			{% set el = item.url ? 'a' : 'div' %}
			{% set image = item.image ? page.media[item.image] %}
			{% set background = item.background %}
			{% set foreground = item.foreground %}
			
			{% set color %}
			{%- if background %}--color-material-bg:{{- background -}};{% endif -%}
			{%- if foreground %}--color-material-fg:{{- foreground -}};{% endif -%}
			{% endset %}

			<{{el}} href="{{ item.url }}" class="enum-card__item" data-reveal="reveal--cascade" {% if color %}style="{{ color }}"{% endif %}>
				
				<div class="enum-card__item__veil fill"></div>
				<h3 class="enum-card__item__title">
					{{ item.title }}
					{% if item.url %}
					<svg class="enum-card__item__arrow" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M5.88 4.12L13.76 12l-7.88 7.88L8 22l10-10L8 2z" fill="currentColor"></path></svg>
					{% endif %}
				</h3>
				<div class="enum-card__item__text">{{ item.text|markdown }}</div>

			</{{el}}>
			{% endfor %}
		</div>	
	</div>
</section>
