{% set optional_classes = page.header.optional_classes %}
{% set display_title = page.header.display_title ?? 'true' %}

<section class="module enum-card {{ optional_classes }}">
	<div class="enum-card__ctn text" data-reveal>

		{% if display_title %}
		{% if page.header.caption %}
		<div class="enum-card__caption">{{ page.header.caption }}</div>
		{% endif %}
		<h2 class="enum-card__title">{{ page.title }}</h2>
		{% endif %}

		<div class="enum-card__grid">
			{% for item in page.header.items %}
			<div class="enum-card__item" data-reveal="reveal--cascade">

				{% set icon = item.icon ? page.media[item.icon] %}
				{% if icon %}
				<div class="enum-card__item__icon">{{ icon.html }}</div>
				{% endif %}

				<h3 class="enum-card__item__title">{{ item.title }}</h3>
				<div class="enum-card__item__text">{{ item.text|markdown }}</div>
				
			</div>
			{% endfor %}
		</div>	
	</div>
</section>
