
<section class="module gridtext {{ page.header.optional_classes }}">

	<div class="gridtext__ctn text">

		<div class="gridtext__caption">{{ page.header.caption }}</div>

		<h2 class="gridtext__title">{{ page.title }}</h2>

		<div class="gridtext__grid">

			{% for item in page.header.items %}
				<div class="gridtext__item">
				{% set icon = item.icon ? page.media[icon] %}
				{% if icon %}
				<div class="gridtext__item__icon">{{ icon.html }}</div>
				{% endif %}
				
				<h3 class="gridtext__item__title">{{ item.title }}</h3>
				<div class="gridtext__item__text">{{ item.text|markdown }}</div>
				</div>
			{% endfor %}

		</div>
			
	</div>

</section>
