{% extends 'modular/module.html.twig' %}
{% set name = 'hero' %}

{% set mp4 = page.header.mp4 ? page.media[page.header.mp4] %}
{% set webm = page.header.webm ? page.media[page.header.webm] %}
{% set image = page.header.image ? page.media[page.header.image] %}
{% set image_alt = page.header.image_alt ?? '' %}
{% set content = page.content %}

{% set color_bg = page.header.color_bg %}
{% set color_fg = page.header.color_fg %}
{% set color_btn_bg = page.header.color_btn_bg %}
{% set color_btn_fg = page.header.color_btn_fg %}

{% set styles %}
{% if color_bg %}--color-bg:{{ color_bg }};{% endif %}
{% if color_fg %}--color-fg:{{ color_fg }};{% endif %}
{% if color_btn_bg %}--color-btn-bg:{{ color_btn_bg }};{% endif %}
{% if color_btn_fg %}--color-btn-fg:{{ color_btn_fg }};{% endif %}
{% endset %}

{% block content %}
<div class="wrapper"{% if styles %} style="{{ styles }}"{% endif %}>
	<a href="{{ page.header.url }}">
		<div class="media-ctn fill">
			{% if mp4 or webm %}
			<video autoplay loop muted poster="{{ image.url }}">
				{% if mp4 %} <source type="video/mp4" src="{{ mp4.url }}">{% endif %}
				{% if webm %} <source type="video/webm" src="{{ webm.url }}">{% endif %}
			</video>
			{% elseif image %}
			{{ image.html('', image_alt) }}
			{% endif %}
		</div>
		<div class="content-ctn text fill">
			{{ content|raw }}
			<div class="button">{{ page.header.label }}</div>
		</div>
	</a>
</div>
{% endblock %}
