{% extends 'modular/module.html.twig' %}
{% set name = 'hero' %}

{% set display_title = display_title|default(page.header.display_title) %}
{% set subtitle = subtitle|default(page.header.subtitle) %}
{% set label = label|default(page.header.label) %}
{% set url = url|default(page.header.url) %}
{% set mp4 = page.header.mp4 ? page.media[page.header.mp4] %}
{% set webm = page.header.webm ? page.media[page.header.webm] %}
{% set image = page.header.image ? page.media[page.header.image] %}
{% set image_alt = page.header.image_alt ?? '' %}
{% set color_bg = page.header.color_bg %}
{% set color_fg = page.header.color_fg %}
{% set color_hl = page.header.color_hl %}

{% set styles %}
{% if color_bg %}--c-bg:{{ color_bg }};{% endif %}
{% if color_fg %}--c-fg:{{ color_fg }};{% endif %}
{% if color_hl %}--c-hl:{{ color_hl }};{% endif %}
{% endset %}

{% block content %}
<div class="wrapper"{% if styles %} style="{{ styles }}"{% endif %}>
	<div class="inner">
		<a href="{{ url }}">
			<div class="media-ctn">
				{% if mp4 or webm %}
				<video autoplay loop muted poster="{{ image.url }}">
					{% if mp4 %} <source type="video/mp4" src="{{ mp4.url }}">{% endif %}
					{% if webm %} <source type="video/webm" src="{{ webm.url }}">{% endif %}
				</video>
				{% elseif image %}
				{{ image.html('', image_alt)|raw }}
				{% endif %}
			</div>
			<div class="content-ctn text">
				<h2>{{ display_title }}</h2>
				<p>{{ subtitle }}</p>
				<div class="button">{{ page.header.label }}</div>
			</div>
		</a>
	</div>
</div>
{% endblock %}
