{% extends 'modular/module.html.twig' %}
{% set name = 'mediatext' %}

{% set mp4 = page.header.mp4 ? page.media[page.header.mp4] %}
{% set webm = page.header.webm ? page.media[page.header.webm] %}
{% set image = page.header.image ? page.media[page.header.image] %}
{% set image_alt = page.header.image_alt ?? '' %}
{% set media_position = page.header.media_position ?? 'left' %}
{% set content = page.content|raw %}

{% block content %}
<div class="wrapper {{ media_position }}">
	<div class="media-ctn" data-reveal>
		{% if mp4 or webm %}
		<video autoplay loop muted poster="{{ image.url }}">
			{% if mp4 %} <source type="video/mp4" src="{{ mp4.url }}">{% endif %}
			{% if webm %} <source type="video/webm" src="{{ webm.url }}">{% endif %}
		</video>
		{% elseif image %}
		{{ image.html('', image_alt) }}
		{% endif %}
	</div>
	<div class="content-ctn text" data-reveal>
		{% if content %}
		<div>{{ content }}</div>
		{% endif %}
	</div>
</div>
{% endblock %}
