{% extends 'modular/module.html.twig' %}
{% set name = 'mediatext' %}
{% set lottie = page.header.lottie ? page.media[page.header.lottie] : null %}
{% set lottie_width = page.header.lottie_width ?? null %}
{% set lottie_height = page.header.lottie_height ?? null %}
{% set mp4 = page.header.mp4 ? page.media[page.header.mp4] : null %}
{% set image = page.header.image ? page.media[page.header.image] : null %}
{% set image_alt = page.header.image_alt ?? '' %}
{% set media_position = page.header.media_position ?? 'left' %}
{% set page_content = page_content ?? page.content ?? null %}

{% block content %}
<div class="wrapper {{ media_position }}">
	<div class="media">

		{% if lottie %}
		<div class="lottie" style="height:{{ lottie_height }}px;" data-animation-path="{{ lottie.url }}"></div>

		{% elseif mp4 %}
		<video autoplay loop muted playsinline disablepictureinpicture disableremoteplayback poster="{{ image.url }}">
			{% if mp4 %}<source type="video/mp4" src="{{ mp4.url }}">{% endif %}
		</video>

		{% elseif image %}
		{% include "partials/img.html.twig" with {image: image, image_alt: image_alt} %}
		
		{% endif %}
	</div>
	<div class="content text prose">
		{{ page_content|raw }}
	</div>
</div>
{% endblock %}
