{% set color_bg = page.header.color_bg %}
{% set color_fg = page.header.color_fg %}
{% set color_hl = page.header.color_hl %}
{% set color_btn_bg = page.header.color_btn_bg %}
{% set color_btn_fg = page.header.color_btn_fg %}
{% set color_material_bg = page.header.color_material_bg %}
{% set color_material_fg = page.header.color_material_fg %}

{% set module_theme %}
{% if color_bg %}--color-bg:{{ color_bg }};{% endif %}
{% if color_fg %}--color-fg:{{ color_fg }};{% endif %}
{% if color_hl %}--color-hl:{{ color_hl }};{% endif %}
{% if color_btn_bg %}--color-btn-bg:{{ color_btn_bg }};{% endif %}
{% if color_btn_fg %}--color-btn-fg:{{ color_btn_fg }};{% endif %}
{% if color_material_bg %}--color-material-bg:{{ color_material_bg }};{% endif %}
{% if color_material_fg %}--color-material-fg:{{ color_material_fg }};{% endif %}
{% endset %}

{% set name = name|default() %}
{% set classes = classes %}
{% set padded = color_bg ? ' padded' : '' %}
{% set computed_classes = name ~ padded ~ ' ' ~ classes %}

<section class="module {{computed_classes}}" style="{{ module_theme }}">
{% block content %}{% endblock %}
</section>


