{% set optional_classes = page.header.optional_classes %}
{% set display_title = page.header.display_title ?? 'true' %}

<section class="module quotes text {{ optional_classes }}">
	<div class="quotes__wrapper" data-reveal>

		{% if display_title %}
		<h2 class="title">{{ page.title }}</h2>
		{% endif %}
		
		<div class="quotes__carousel swiper-container">
			<div class="swiper-wrapper">

				{% for item in page.header.items %}
				{% set portrait = item.portrait ? page.media[item.portrait] %}
				
				<div class="quotes__item swiper-slide">
					<blockquote class="quotes__item__quote">{{ item.quote }}</blockquote>
					{% if portrait %}
					<div class="quotes__item__portrait">{{ portrait.cropZoom(200, 200).quality(config.system.images.default_image_quality).html('', item.alt) }}</div>
					{% endif %}
					<div class="quotes__item__source">{{ item.source }}</div>
				</div>
				{% endfor %}

			</div>
			{% if page.header.items|length > 1 %}
			<div class="quotes__pagination swiper-pagination"></div>
			{% endif %}
		</div>	
	</div>
</section>
