<section class="module quotes text {{ page.header.optional_classes }}">
	
	<div class="quotes__wrapper" data-reveal>

		<h2 class="title">{{ page.title }}</h2>

		<div class="quotes__carousel">
			{% for item in page.header.items %}
				<div class="quotes__item">
					{% set portrait = item.portrait ? page.media[item.portrait] %}

					<blockquote class="quotes__item__quote">{{ item.quote }}</blockquote>

					{% if portrait %}
					<div class="quotes__item__portrait">{{ portrait.html('', item.alt) }}</div>
					{% endif %}

					<div class="quotes__item__source">{{ item.source }}</div>

				</div>
			{% endfor %}
		</div>	

	</div>

</section>
