{% extends 'modular/module.html.twig' %}
{% set name = 'quotes' %}


{% set color_panel_bg = page.header.color_panel_bg %}
{% set color_panel_fg = page.header.color_panel_fg %}
{% set color_pagination_bg = page.header.color_pagination_bg %}
{% set color_pagination = page.header.color_pagination %}

{% set styles %}
{% if color_panel_bg %}--color-panel-bg:{{ color_panel_bg }};{% endif %}
{% if color_panel_fg %}--color-panel-fg:{{ color_panel_fg }};{% endif %}
{% if color_pagination %}--color-pagination-fg:{{ color_pagination }};{% endif %}
{% endset %}

{% block content %}
<div class="wrapper" data-reveal=""{% if styles %} style="{{ styles }}"{% endif %}>

	{% if page.header.display_title %}
	<h2 class="module-title">{{ page.header.display_title }}</h2>
	{% endif %}
	
	<div class="swiper-container">
		<div class="swiper-wrapper">

			{% for item in page.header.items %}
			{% set portrait = item.portrait ? page.media[item.portrait] %}

			<div class="text swiper-slide">
				<blockquote>{{ item.quote }}</blockquote>
				{% if portrait %}
				<div class="portrait">{{ portrait.cropZoom(200, 200).quality(config.system.images.default_image_quality).html('', item.alt) }}</div>
				{% endif %}
				<div class="source">{{ item.source }}</div>
			</div>

			{% endfor %}

		</div>
		{% if page.header.items|length > 1 %}
		<div class="swiper-pagination"></div>
		{% endif %}
	</div>	
</div>
{% endblock %}