{% for p in page.collection({ items: {'@root.descendants':''} }) if p.template == 'announcement' and p.header.delivering %}

	{% set id = p.header.id ?? ('missingId' ~ random()) %}
	{% set class = p.header.class ?? '' %}
	{% set remember = p.header.remember ?? '0'  %}
	{% set targets = p.header.target ?? '' %}
	{% set msg = p.header.content|markdown %}

	{% if targets and page.rawroute in targets %}
		{{ _self.announcement(id, class, remember, msg) }}	
	{% elseif not targets %}
		{{ _self.announcement(id, class, remember, msg) }}
	{% endif %}

{% endfor %}

{% macro announcement(id, class, remember, msg) %}
    <div data-announcement data-id="{{ id }}" data-class="{{ class }}" data-store="{{ remember }}">
	{{ msg }}
	</div>
{% endmacro %}
