{% set root_params = page.find('/_root-params') %}
{% set site_header = page.find('/_site-header') %}
{% set site_footer = page.find('/_site-footer') %}
{% set api = page.find('/api').url %}
{% include 'partials/js.html.twig' %}
{% include 'partials/css.html.twig' %}

<!DOCTYPE html> 
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
	<head>
		{% block metadata %}{% include 'partials/metadata.html.twig' %}{% endblock %}
		{% block favicon %}{% include 'partials/favicon.html.twig' %}{% endblock %}
		{% block canonical %}<link rel="canonical" href="{{ page.url(true, true) }}" />{% endblock %}
		{% block assets deferred %}
		{{ assets.css()|raw }}
		{{ assets.js('top')|raw }}
		{% endblock %}
		{% if theme.inline_css -%}<style>{{ theme.inline_css|raw }}</style>{%- endif %}
		{% block preload %}{% include "partials/preload.html.twig" %}{% endblock %}
		{% if theme.inline_head_script %}{{ theme.inline_head_script|raw }}{% endif %}
		<meta name="htmx-config" content='{"scrollBehavior":"auto"}'>
	</head>
	<body class="top" hx-boost="true">
		<a id="skipto" href="#main">Skip to content</a>
		<div id="page" class="{{ page.template }}{% if page.header.body_classes %} {{ page.header.body_classes }}{% endif %}">
			{% block header %}{% include 'partials/header.html.twig' %}{% endblock %}
			<main id="main">{% block content %}{% endblock %}</main>
			{% block footer %}{% include 'partials/footer.html.twig' %}{% endblock %}
		</div>
		{% include 'partials/snipcart.html.twig' %}
		{% if config.plugins['algolia-pro'].enabled %}{% include 'partials/algolia-pro/instantsearch.html.twig' with { index: 'pages' } %}{% endif %}
		<div id="indicator"></div>
		{{ assets.js('bottom')|raw }}
		{% if theme.inline_body_script %}{{ theme.inline_body_script|raw }}{% endif %}
		<!-- {{ grav.theme.getBlueprint().name }} {{ grav.theme.getBlueprint().version }} -->
	</body>
</html>
