{# {{ dump(page) }} #}
{% set root_params = page.find('/_root-params/') %}
{% set snipcart_version = theme.snipcart_version ??'3.2.0' %}
<!DOCTYPE html> 
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
	<head>
		{% block metadata %}{% include 'partials/metadata.html.twig' %}{% endblock %}
		{% block canonical %}<link rel="canonical" href="{{ page.url(true, true) }}" />{% endblock %}
		{% block favicon %}{% include 'partials/favicon.html.twig' %}{% endblock %}
		<link rel="preload" href="{{ url('theme://fonts/ibm-plex-mono-v6-latin-regular.woff2', true) }}" as="font" crossorigin>
		<link rel="preload" href="{{ url('theme://fonts/ibm-plex-sans-v8-latin-regular.woff2', true) }}" as="font" crossorigin>
		{% include 'partials/js.html.twig' %}
		{% include 'partials/css.html.twig' %}
		{% block assets deferred %}
		{{ assets.css()|raw }}
		{{ assets.js('top')|raw }}
		{% endblock %}
		{% if theme.inline_css -%}<style>{{ theme.inline_css|raw }}</style>{%- endif %}
		{% if theme.inline_head_script %}{{ theme.inline_head_script|raw }}{% endif %}
	</head>

	<body class="{{ page.template }}{% if page.header.body_classes %} {{ page.header.body_classes }}{% endif %}"{% if theme_style %} style="{{ theme_style }}"{% endif %}>
		{% block header %}{% include 'partials/header.html.twig' %}{% endblock %}
		<main id="main">{% block content %}{% endblock %}</main>
		{% block footer %}{% include 'partials/footer.html.twig' %}{% endblock %}
		{% include 'partials/snipcart.html.twig' %}
		{% include 'partials/dialog.html.twig' %}
		{% include 'partials/dialog.html.twig' with {id: 'dialog-signin', content: 'THEME.DIALOG.SIGNIN'|t } %}
		{% include 'partials/dialog.html.twig' with {id: 'dialog-signout', content: 'THEME.DIALOG.SIGNOUT'|t } %}
		{{ assets.js('bottom')|raw }}
		{% if theme.inline_body_script %}{{ theme.inline_body_script|raw }}{% endif %}
		{% include 'partials/serviceworker.html.twig' %}
		<!-- {{ grav.theme.getBlueprint().name }} {{ grav.theme.getBlueprint().version }} -->
	</body>
</html>
