{{ dump(page) }}
{% set root_params = page.find('/_root-params/') %}
{% include 'partials/assets.html.twig' %}

<!DOCTYPE html> 
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
	<head>
		{% block metadata %}{% include 'partials/metadata.html.twig' %}{% endblock %}
		{% block canonical %}<link rel="canonical" href="{{ page.url(true, true) }}" />{% endblock %}
		{% block favicon %}{% include 'partials/favicon.html.twig' %}{% endblock %}
		{% block assets deferred %}
		<link rel="preload" href="{{ url('theme://fonts/Inter/inter-v1-latin-regular.woff2', true) }}" as="font" crossorigin>
		{{ assets.css()|raw }}
		{{ assets.js('top')|raw }}
		{% endblock %}
		{% block gtm_head %}{% include 'partials/gtm-head.html.twig' %}{% endblock %}
		{% block head_extra %}{% endblock %}
	</head>

    {% set theme_style -%}
    {%- if theme.color_bg %}--c-bg:{{ theme.color_bg }};{% endif -%}
    {%- if theme.color_fg %}--c-fg:{{ theme.color_fg }};{% endif -%}
    {%- if theme.color_hl %}--c-hl:{{ theme.color_hl }};{% endif -%}
    {% endset -%}

	<body class="{{ page.template }}{% if page.header.body_classes %} {{ page.header.body_classes }}{% endif %}" {% if theme_style %}style="{{ theme_style }}"{% endif %}>
		{% block loading %}{% include 'partials/loading.html.twig' %}{% endblock %}
		{% block header %}{% include 'partials/header.html.twig' %}{% endblock %}
		<main id="main">{% block content %}{% endblock %}</main>
		{% block footer %}{% include 'partials/footer.html.twig' %}{% endblock %}
		{% block snipcart %}{% include 'partials/snipcart.html.twig' %}{% endblock %}
		{{ assets.js()|raw }}
		{{ assets.js('bottom')|raw }}
		<script async src="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.js"></script>
		{% block gtm_body %}{% include 'partials/gtm-body.html.twig' %}{% endblock %}
		<!-- {{ grav.theme.getBlueprint().name }} {{ grav.theme.getBlueprint().version }} -->
	</body>

</html>
