{{ dump(page) }}
{% set root_params = page.find('/_root-params/') %}

<!DOCTYPE html> 
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">

	<head>

		{% block metadata %}{% include 'partials/metadata.html.twig' %}{% endblock %}
		{% block canonical %}<link rel="canonical" href="{{ page.url(true, true) }}" />{% endblock %}
		{% block favicon %}{% include 'partials/favicon.html.twig' %}{% endblock %}
		{% block breadcrumblist %}{% include 'schemas/breadcrumblist.html.twig' %}{% endblock %}
		{% block organization %}{% include 'schemas/organization.html.twig' %}{% endblock %}
		{% block stylesheets %}{% include 'partials/stylesheet.html.twig' %}{% endblock %}
		{% block javascripts %}{% include 'partials/javascript.html.twig' %}{% endblock %}
		{% block assets deferred %}
		{{ assets.css()|raw }}
		{{ assets.js()|raw }}
		{% endblock %}
		{% block gtm_head %}{% include 'partials/gtm-head.html.twig' %}{% endblock %}
		{% block gtag %}{% include 'partials/gtag.html.twig' %}{% endblock %}
		{% block head_extra %}{% endblock %}

	</head>

	{% set color_hl = theme.color_hl %}
	{% set styles %}
	{% if color_hl %}--color-hl:{{ color_hl }};{% endif %}
	{% endset %}

	<body class="{{ page.template }} {{ page.header.body_classes }} loading"{% if styles %} style="{{ styles }}"{% endif %}>
		
		{% block loading %}{% include 'partials/loading.html.twig' %}{% endblock %}
		{% block header %}{% include 'partials/header.html.twig' %}{% endblock %}
		<main id="main">{% block content %}{% endblock %}</main>
		{% block footer %}{% include 'partials/footer.html.twig' %}{% endblock %}
		{# {% block announcements %}{% include 'partials/announcement.html.twig' %}{% endblock %} #}
		{# {% block share_dialog %}{% include 'partials/share-dialog.html.twig' %}{% endblock %} #}
		{% block snipcart %}{% include 'partials/snipcart.html.twig' %}{% endblock %}
		{% block bottom %}{{ assets.js('bottom')|raw }}{% endblock %}
		{% block gtm_body %}{% include 'partials/gtm-body.html.twig' %}{% endblock %}
		{% block body_extra %}{% endblock %}
		<!-- {{ "now"|date("m/d/Y H:i:s") }} - {{ grav.theme.getBlueprint().name }} {{ grav.theme.getBlueprint().version }} -->

	</body>

</html>
