{% set item = item %}
{% set url = item.url %}
{% set image = item.header.image ? item.media[item.header.image] : null %}
{% set image_alt = item.header.image_alt ?? '' %}
{% set title = item.header.display_title ?? item.title %}
{% set date = event.timestamp %}

<article class="calendar-card">
	<a href="{{ url }}">
		<div class="date">
          {{ date|date('d') }} {{ 'GRAV.MONTHS_OF_THE_YEAR'|ta(date|date('n')-1) }} {{ date|date('Y') }}
        </div>
		<div class="title">{{ title }}</div>
		<div class="media">
			{% include "partials/img.html.twig" with {image: image, image_alt: image_alt} %}
		</div>
	</a>
</article>
