
{% set el = url ? 'a' : 'span' %}
<article class="card">
	<{{ el }} {% if url %}href="{{ url }}"{% endif %}>
		<div class="card__media">
			{% include "partials/img.html.twig" with {image: image, image_alt: image_alt} %}
		</div>
		<div class="card__content text">
			{% if title %}<h3>{{ title }}</h3>{% endif %}
			{% if text %}<p>{{ text }}</p>{% endif %}
		</div>
	</{{ el }}>
</article>
