<section id="filters">
    <form             
    hx-get="{{ page.url }}"
    hx-replace-url="true" 
    hx-trigger="change" 
    hx-target="#list" 
    hx-select="#list">

        {# CATEGORY #}
        <select name="category" id="category-select">
            <option value="">Category</option> 
            {% for t in taxonomy.getTaxonomyItemKeys('category') %}
            <option value="{{ t }}">{{ t }}</option> 
            {% endfor %}
        </select>

        {# TAG #}
        <select name="tag" id="tag-select">
            <option value="">Tag</option> 
            {% for t in taxonomy.getTaxonomyItemKeys('tag') %}
            <option value="{{ t }}">{{ t }}</option> 
            {% endfor %}
        </select>

        {# SORT #}
        <select name="sort" id="sort-select">
            <option value="">Sort</option> 
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option> 
        </select>

    </form>
</section>
