{% import "partials/svg.html.twig" as svg %}
{% set site_footer = page.find('/_site-footer/') %}
{% if site_footer %}
<footer id="footer">
	<div class="wrapper">
		<nav>
			{% for group in site_footer.header.groups %}
			<ul>
				<li>{{ group.label }}</li>
				{% for link in group.links %}
				<li><a href="{{ link.url }}"}>{{ link.label }}</a></li>
				{% endfor %}
			</ul>
			{% endfor %}
		</nav>
		<div class="footnote">
			<p>{{ site_footer.header.footnotes|raw }}</p>
		</div>	
		<div class="legal">
			<div>Calotte - Copyright © {{ 'now' | date('Y') }}</div>
			<ul>
			{% for item in site_footer.header.legal %}
				<li><a href="{{ item.url }}">{{ item.label }}</a></li>
			{% endfor %}
				<button class="colorscheme-toggle" onclick="ToggleColorScheme()">{{ svg.sun() }}{{ svg.moon }}</button>
			</ul>
		</div>
	</div>
</footer>
{% endif %}
