{% import "partials/svg.html.twig" as svg %}

<footer id="footer">
	<div class="wrapper text small">

		<div class="top">

			<div class="contact">
				{{ root_params.header.contact|markdown|raw }}
			</div>
			<nav>
				{% for group in root_params.header.footer_links %}
				<ul>
					<li>{{ group.label }}</li>
					{% for link in group.links %}
					<li><a href="{{ link.url }}"}>{{ link.label }}</a></li>
					{% endfor %}
				</ul>
				{% endfor %}
			</nav>			
		</div>

		<div class="bottom">
			<div class="copyright">© {{ site.title }} {{ "now"|date("Y") }}</div>
			<a class="credit" href="https://calotte.ca">{{ svg.calotte() }}</a>			
		</div>

	</div>
</footer>
