{% import "partials/svg.html.twig" as svg %}

<footer class="dark" id="footer">
	<div class="wrapper text small">

		<div class="top">

			<div class="contact">
				{{ root_params.header.contact|markdown|raw }}
			</div>
			<nav>
				{% for drawer in root_params.header.footer_nav %}
					<details>
						<summary class="h3">{{ drawer.label }}</summary>
							<ul>	
							{% for link in drawer.links %}
								{% set p = page.find(link.page) %}
								<li><a href="{{ p.url }}">{{ link.label }}</a></li>
							{% endfor %}							
							</ul>
					</details>
				{% endfor %}
			</nav>			
		</div>

		<div class="bottom">
			<div class="copyright">© {{ site.title }} {{ "now"|date("Y") }}</div>
			<a class="credit" href="https://calotte.ca">{{ svg.calotte() }}</a>			
		</div>

	</div>
</footer>
