{% import "partials/svg.html.twig" as svg %}
{% set site_header = page.find('/_site-header/') %}
{% if site_header %}
<div id="header-shim"></div>
<header id="header">
    <div class="layout">
        <a class="logo" href="{{ home_url }}" aria-label="Site logo">{{ svg.wheat() }}</a> 
        <div class="toggles">
            <nav class="nav">
                <ul>
                    <li class="version">v{{ grav.theme.getBlueprint().version }}</li>
                    {% for link in root_params.header.header_links %}
                    <li><a href="{{ link.url }}">{{ link.label }}</a></li>
                    {% endfor %}
                    {% include 'partials/langswitcher.html.twig' %}
                    {% if theme.snipcart %}
                    <li>
                        <button class="snipcart-checkout" aria-label="open cart">
                            {{ svg.bag() }}
                            <span class="snipcart-items-count">0</span>
                        </button>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>
{% endif %}
