{%- set site_title = root_params.header.site_title ?? site.title -%}

{%- set title -%}
    {% if page.header.page_title %}
        {{- page.header.page_title -}}
    {% elseif page.header.title and page.url != base_url %}
        {{- page.header.title }} - {{ site_title -}}
    {% else %}
        {{- site_title -}}
    {% endif %}
{%- endset -%}

{%- set description -%}
    {% if page.header.meta_description %}
        {{- page.header.meta_description -}}
    {% elseif root_params.header.site_description %}
        {{- root_params.header.site_description -}}
    {% endif %}
{%- endset -%}

{%- set og_type = 'website' -%}
{%- set url = page.url(true, true) -%}

{%- set image_path = page.header.meta_image ? page.media[page.header.meta_image].url : root_params.header.site_image ? root_params.media[root_params.header.site_image].url -%}
{%- set image_url = image_path ? uri.base() ~ image_path : '' -%}
	
<meta charset="utf-8" />
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if config.plugins.langswitcher.enabled %}
{% include 'partials/langswitcher.hreflang.html.twig' %}
{% endif %}

{% for meta in page.metadata %}
<meta {% if meta.name %}name="{{ meta.name }}" {% endif -%}
{% if meta.http_equiv %}http-equiv="{{ meta.http_equiv }}" {% endif -%}
{% if meta.charset %}charset="{{ meta.charset }}" {% endif -%}
{% if meta.property %}property="{{ meta.property }}" {% endif -%}
{% if meta.content %}content="{{ meta.content }}" {% endif %}/>
{% endfor %}

{% if theme.facebook_app_id %}
<meta property="fb:app_id" content="{{ theme.facebook_app_id }}" />
{% endif %}

<meta property="og:url" content="{{ url }}" />
<meta property="og:type" content="{{ og_type }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
{% if image_url %}<meta property="og:image" content="{{ image_url }}" />{% endif %}

{% if theme.twitter_site %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ theme.twitter_site }}">
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
{% if image_url %}<meta name="twitter:image" content="{{ image_url }}" />{% endif %}
{% endif %}