{% import "partials/breadcrumbs.html.twig" as breadcrumbs %} 
{% set title = title|default(page.header.display_title) %}
{% set date = date ?? page.header.date ? page.header.date|date('Y/m/d') : null %}
{% set datetime = page.header.date|date('Y-m-d\TH:i:sO') %}
{% set author = page.header.author ?? config.site.author.name %}
<section class="post__heading">
	<div class="wrapper">
		{{ breadcrumbs.html(page, pages, page.collection({items: {'@self.page': ''}})) }}
		<div class="title text">
			<h1>{{ title|raw }}</h1>
		</div>
		{% if date or author %}
		<div class="cartel">
			{% if date %}<time datetime="{{ datetime }}">{{ date }}</time>{% endif %}
			{% if date and author %}—{% endif %}
			{% if author %}<span class="author">{{ author }}</span>{% endif %}
		</div>		
		{% endif %}
	</div>	
</section>
