{% set item = item|default(item) %}
{% set image = image|default(item.header.image ? item.media[item.header.image]) %}
{% set image_alt = image_alt|default(item.header.image_alt ?? '') %}
{% set title = title|default(item.header.title) %}
{% set date = date|default(item.header.date) %}
{% set loop = loop|default(loop) %}

<article class="post__card" style="--index:{{ loop.index }}">
	<a href="{{ item.url }}">
		<div class="media-ctn">
			{% if image %}
			{{ image.cropResize(800).loading.html('', image_alt)|raw }}
			{% endif %}
		</div>
		<div class="text small">
			<h3>{{ title }}</h3>
			<time dateime="{{ date|date('U') }}">{{ date|date('Y/m/d') }}</time>
		</div>
	</a>
</article>
