{% import '/partials/date.html.twig' as date %}
{% extends 'partials/base.html.twig' %}

{% set main_image = main_image|default(page.header.main_image ? page.media[page.header.main_image]) %}
{% set main_image_alt = main_image_alt|default(page.header.main_image_alt ?? '') %}

{% block content %}

	<article class="article">

		<h1 class="article__title">{{ page.title }}</h1>

		{% if page.header.subheading %}
		<p class="article__subheading">{{ page.header.subheading }}</p>
		{% endif %}

		<section class="article__toolbar">
			{% include 'partials/share-button.html.twig' %}
			<div class="article__metas">
				<div class="article__author">{{ site.author.name }}</div>
				<div class="article__date">{{ date.format(page.header.date, 'long') }}</div>
			</div>
		</section>

		{% if main_image %}
		<figure>
			{{ main_image.html('', main_image_alt, 'article__main-image') }}
			<figcaption class="article__caption">{{ page.header.main_image_caption }}</figcaption>
		</figure>
		{% endif %}

		<section class="module content text">
			{{ page.content|raw }}
		</section>

	</article>

	

{% endblock %}
