{% import '/partials/date.html.twig' as date %}
{% extends 'partials/base.html.twig' %}

{% block content %}

<main>
	
	<section class="blog__header">
		<h1 class="blog__title">{{ page.title }}</h1>
		{% if page.header.subheading %}
		<h3 class="blog__subheading">{{ page.header.subheading }}</h3>
		{% endif %}
	</section>

	<section class="blog__grid">
		{% for p in page.collection() %}
		{% set main_image = p.header.main_image ? p.media[p.header.main_image] %}
		{% set main_image_alt = p.header.main_image_alt ?? '' %}
		<article class="blog-item">
			<a href="{{ p.url }}">
				<div class="blog-item__image-container">
					<div class="fill">
						{{ main_image.html('', main_image_alt) }}
					</div>
				</div>
				<h3 class="blog-item__title">{{ p.title }}</h3>
				<p class="blog-item__subheading">{{ p.header.subheading }}</p>
				<div class="blog-item__author">{{ site.author.name }}</div>
				<time datetime="{{ p.header.date }}" class="blog-item__date">{{ date.format(p.header.date, 'long') }}</time>
			</a>
		</article>
		{% endfor %}
	</section>

	{% if config.plugins.pagination.enabled and page.collection.params.pagination %}
    {% include 'partials/pagination.html.twig' %}
	{% endif %}

</main>

{% endblock %}
