{% import '/partials/date.html.twig' as date %}
{% extends 'partials/base.html.twig' %}

{% block content %}

<main data-reveal>
	
	<section class="blog__header">
		<h1 class="blog__title">{{ page.title }}</h1>
	</section>

	<section class="blog__grid">
		{% for p in page.collection() %}
		{% set main_image = p.header.main_image ? p.media[p.header.main_image] %}
		{% set main_image_alt = p.header.main_image_alt ?? '' %}
		<a class="blog-item" href="{{ p.url }}" style="background-image:url({{ main_image.cropResize(800,800).url }})">

			<div class="fill blog-item__veil"></div>

			<div class="blog-item__text-container">
				<h3 class="blog-item__title">{{ p.title }}</h3>
				<div class="blog-item__author">{{ site.author.name }}</div>
				<time datetime="{{ p.header.date }}" class="blog-item__date">{{ date.format(p.header.date, 'long') }}</time>
			</div>

		</a>
		{% endfor %}
	</section>

	{% if config.plugins.pagination.enabled and page.collection.params.pagination %}
    {% include 'partials/pagination.html.twig' %}
	{% endif %}

</main>

{% endblock %}
