{% extends 'partials/base.html.twig' %}
{% set category = uri.query('category') ?? null %}
{% set key = 'articles' %}
{% set step = 12 %}
{% set qs = uri.query(key) ?? null %}
{% set qs_start = qs ? qs|split('-')[0] : 0 %}
{% set qs_end = qs ? qs|split('-')[1] : step %}
{% set next_start = qs_end %}
{% set next_end = next_start + step %}
{% set raw_collection = page.evaluate([{'@self.children':'', '@taxonomy.category': category}]) %}
{% set raw_collection_length = raw_collection|length %}
{% set collection = page.evaluate([{'@self.children':'', '@taxonomy.category': category}]) %}
{% set collection_ordered = collection.order('folder','asc') %}
{% set collection_slice = collection_ordered|slice(qs_start, qs_end) %}

{% block content %}

    {# HEADING #}
    {% include 'partials/default-heading.html.twig' with {title: title} %}
    {{ dump(collection) }}
    {# FILTERS #}
    {% include "partials/filters.html.twig" %}

    {# LIST #}
    <section id="list">
        <div class="wrapper">
        {% for item in collection_slice %}
            {% set image = item.header.image ? item.media[item.header.image] %}
            {% set image_alt = item.header.image_alt %}
            {% set title = item.title %}
            {% set text = item.header.price ? item.header.price|number_format(2, ',', ' ') ~ '$' : null %}            
            {% set url = item.url %}
            {% include "partials/card.html.twig" with {
                image: image,
                image_alt: image_alt,
                title: title,
                text: text,
                url: url
            }%}
        {% endfor %}
        {% if next_start + 1 <= raw_collection_length %}
            {% set url = (page.url ~ '?' ~ key ~ '=' ~ next_start ~ '-' ~ next_end) %}
            <button id="load-more" class="button" href="{{ url }}"
            hx-get="{{ url }}" 
            hx-swap="outerHTML" 
            hx-select="#list article">{{ 'THEME.PAGINATION.LOAD_MORE'|t }}</button>
        {% endif %}
        </div>
    </section>

    {# MODULES #}
    {% for module in page.collection({ items: {'@self.modular':''}, 'order': {'by':'folder', 'dir':'asc'}}) %}
    {{ module.content|raw }}
    {% endfor %}

{% endblock %}
