{% import '/partials/date.html.twig' as date %}
{% extends 'partials/base.html.twig' %}

{% set main_image = main_image|default(page.header.main_image ? page.media[page.header.main_image]) %}
{% set main_image_alt = main_image_alt|default(page.header.main_image_alt ?? '') %}
{% set authors = page.header.taxonomy.author ?? {'0':site.author.name} %}
{% set tags = page.header.taxonomy.tag %}

{% block content %}

<main style="margin-bottom:6rem;" data-reveal>

	<section class="post__headings">
		<h1 class="post__title">{{ page.title }}</h1>
		{% if page.header.subheading %}
		<p class="post__subtitle">{{ page.header.subheading }}</p>
		{% endif %}
	</section>

	<section class="post__toolbar">
		{% include 'partials/share-button.html.twig' %}
		<div class="post__metas">
			<div class="post__author">{{ authors[0] }}</div>
			<div class="post__date">{{ date.format(page.header.date, 'long') }}</div>
		</div>
	</section>

	{% if main_image %}
	<section class="post__main-image__container">
		<figure>
			<div class="post__main-image__ratio">
				<div class="post__main-image__filler">
					<img class="post__main-image__img" src="{{ main_image.cropResize(1920,1920).url }}" alt="main_image_alt">
				</div>
			</div>
			{% if page.header.main_image_caption %}
			<figcaption class="post__main-image__caption">{{ page.header.main_image_caption }}</figcaption>
			{% endif %}
		</figure>
	</section>
	{% endif %}

	<section class="module content text">
		{{ page.content|raw }}
	</section>

	{% if tags %}
	<section class="post__tag-container">
		{% for tag in tags %}
		<a href="{{ page.parent.url }}/tag{{ config.system.param_sep }}{{ tag }}" class="post__tag">{{ tag }}</a>
		{% endfor %}
	</section>
	{% endif %}

</main>

{% endblock %}
