{% extends 'partials/base.html.twig' %}

{% block content %}

	{# BREADCRUMBS #}
	{% if config.plugins.breadcrumbs.enabled %}
		{% include 'partials/breadcrumbs.html.twig' %}
	{% endif %}
	
	{# TITLE #}
	<section class="default-title" data-reveal>
		<h1>
		{% if page.header.display_title %}{{ page.header.display_title }}
		{% else %}{{ page.title }}
		{% endif %}
		</h1>
	</section>

	{# PRODUCT #}
	<section class="module product">
		<div class="wrapper">

			<div class="media_ctn" data-reveal>
				{% if page.header.images %}
				<div class="swiper-container">
					<div class="swiper-wrapper">
						{% for item in page.header.images %}
						<div class="swiper-slide">
							{% set image = item.image ? page.media[item.image] %}
							{% set image_alt = item.image_alt ?? '' %}
							{% if image %}
							{{ image.html('', image_alt) }}
							{% endif %}
						</div>
						{% endfor %}
					</div>
					<div class="swiper-pagination"></div>
				</div>	
				{% else %}
				{% set image = page.header.image ? page.media[page.header.image] %}
				{% set image_alt = page.header.image_alt ?? '' %}
				{% if image %}
				{{ image.html('', image_alt) }}
				{% endif %}
				{% endif %}
			</div>


			<div class="content_ctn" data-reveal>
				<div class="sticky_ctn">
					{% if content %}
					<div class="description text">{{ page.content|raw }}</div>
					{% endif %}
					<div class="price">{{ page.header.price|number_format(2, ',', ' ') }} $</div>
					{% include 'partials/snipcart-add-item.html.twig' with {'class': 'add-to-cart button'} %}
				</div>
			</div>
		</div>
	</section>

	{# MOBILE BUY BUTTON #}
	<section class="bottom-bar">
		<div class="price">{{ page.header.price|number_format(2, ',', ' ') }} $</div>
		{% include 'partials/snipcart-add-item.html.twig' with {'class': 'add-to-cart button'} %}
	</section>

	{# MODULES #}
	{% for module in page.collection({ items: {'@self.modular':''}, 'order': {'by':'folder', 'dir':'asc'}}) %}
	{{ module.content|raw }}
	{% endfor %}

	{# RELATED ITEMS #}
    {# {% set options = { items: {'@self.siblings':''}, 'limit': 4, 'order': {'by': 'random'}} %} #}
    {# {% set related = page.collection(options) %} #}


{% endblock %}
